
        ul li a:hover {
            text-decoration: underline;
            font-weight: bold;
            background: #ccc;
        }

        li:hover ul {
            display: block;
        }

        ul li a {
            display: block;
            text-decoration: none;
            color: #E2144A;
            background: #fff;
            padding: 5px;
            border: 1px solid #ccc;
        }

        li ul {
            position: absolute;
            left: 149px;
            top: 0;
            display: none;
        }

        ul li {
            position: relative;
        }
        ul li ul li ul li{
            display:none;
        }
        ul li ul li:hover ul li{
            display: block;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 150px;
        }